[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
elasticsearch = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-bootstrap = "*"
flask-mail = "*"
flask-moment = "*"
flask-babel = "*"
python-dotenv = "*"
jwt = "*"
flask-wtf = "*"
pylint = "*"
"flake8" = "*"
celery = "*"
redis = "*"
flask-socketio = "*"
gevent = "*"
flask-session = "*"
eventlet = "*"

[requires]
python_version = "3.6"
